.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-left {
  text-align: left;
}
.screen-width {
  width: 60% !important;
}
.card-padding {
  padding-right: 3rem!important;
  padding-left: 3rem!important;
}
html body {
  background-color:#ffc904;
  background-image: url("./images/background.jpg");
}

.header-bg {
  background-color: #7347007d;
}

.header-text-color {
  color: #fff;
}

.print-block{
  margin-top: 1rem;
}

.print-image {
  height: 2rem;
  margin-left: 0.65rem;
}

@media only screen and (max-width: 700px) {
  .screen-width {
    width: 90% !important;
  }
  .card-padding {
      padding-right: 1rem!important;
      padding-left: 1rem!important;
  }
}

@media print {
  #modalBox {
    display: none;
  }
}


/* GRID example */

.grid {
  width: 33%;
  margin-left: 33%;
  display: grid;
  grid-template-columns: 3rem auto 3rem;
  grid-template-rows: 3rem 14rem 3rem;
  background-color: #2196F3;
}

.grid div {
  padding: 5px;
}
 /* Colspan */
.first {
  grid-column-start: 1;
  grid-column-end: 4;
}

.forth {
	grid-column-start: 1;
  grid-column-end: 4;
}

.grid .first {
  /* height: 2rem; */
  background-color: grey;
}
.grid .second {
  background-color: grey;
}
.grid .third {
  /* height: 2rem; */
  background-color: grey;
}
.grid .forth {
  background-color: grey;
}

.box {
  width: 3rem;
  height: 3rem;
  background-color: pink;
  /* animation-name: box-animate; */
  /* animation-duration: 4s; */
  position: relative;
}

.firstBox {
  animation-name: first-trans;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes first-trans {
  from {left:0; top:0;}
  to {left:80%;top:0}
}

.secondBox {
  animation-name: second-trans;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes second-trans {
  from {left:80%; top:0;}
  to {left:80%;top:80%}
}

.thirdBox {
  animation-name: third-trans;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes third-trans {
  from {left:80%; top:80%;}
  to {left:0;top:80%}
}

.forthBox {
  animation-name: forth-trans;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes forth-trans {
  from {left:0; top:80%;}
  to {left:0;top:0}
}

/* @keyframes box-animate {
  0% {left:0; top:0;}
  25% {left:80%; top:0;}
  50% {left:80%; top:80%;}
  75% {left:0; top:80%;}
  100% {left:0; top:0;}
} */